@model SAMLPortal.Models.Setup

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Setup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfigured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfigured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInMaintenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInMaintenance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LdapHost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LdapHost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BindDn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BindDn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BindPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BindPass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdministratorsFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorsFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UidAttr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UidAttr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberOfAttr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberOfAttr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayNameAttr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayNameAttr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
