@model IEnumerable<SAMLPortal.Models.Setup>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfigured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInMaintenance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LdapHost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BindDn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BindPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdministratorsFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UidAttr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberOfAttr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayNameAttr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfigured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInMaintenance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LdapHost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BindDn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BindPass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministratorsFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UidAttr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberOfAttr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayNameAttr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
